<!doctype html>
<html lang="{{ site.locale | default: 'es' | slice: 0, 2 }}">
<head>
  {%- include seo.html -%}
  {%- seo title=false -%}
</head>
<body>
  {%- if site.gtm_container -%}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_container }}"
            height="0"
            width="0"
            style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {%- endif -%}

  {%- include header.html -%}

  <main>
    {{ content }}
  </main>

  {%- include footer.html -%}
</body>
</html>
